version: 2
jobs:
  build:
    docker:
      - image: circleci/openjdk:11.0.1-jdk
    working_directory: ~/langton
    steps:
      - checkout
      - run: gradle build
      - run: gradle :cleanTest :test --tests "lu.mikolaj.langton.test.*"
      - store_artifacts:
          path: build/libs
          destination: langton